# Programming Design

> Introduction to Pandas

Yao-Jen Kuo <yaojenkuo@ntu.edu.tw> from [DATAINPOINT](https://www.datainpoint.com/)

In [1]:
import requests
import pandas as pd

## About `pandas`

## What is `pandas`?

> Flexible and powerful data analysis / manipulation library for Python, providing labeled data structures similar to R data.frame objects, statistical functions, and much more.

Source: <https://github.com/pandas-dev/pandas>

## Why `pandas`?

Python used to have a weak spot in its analysis capability due to it did not have an appropriate structure handling the common tabular datasets. Pythonists had to switch to a more data-centric language like R or Matlab during the analysis stage until the presence of `pandas`.

## Import Pandas with `import` command

Pandas is officially aliased as `pd`.

In [2]:
import pandas as pd

## If Pandas is not installed, we will encounter a `ModuleNotFoundError`

```
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError: No module named 'pandas'
```

## Use `pip install` at Terminal to install pandas

```bash
pip install pandas
```

## Check version and its installation file path

- `__version__` attribute
- `__file__` attribute

In [3]:
print(pd.__version__)
print(pd.__file__)

2.0.3
/Users/kuoyaojen/miniconda3/lib/python3.11/site-packages/pandas/__init__.py

## What does `pandas` mean?

![](https://media.giphy.com/media/46Zj6ze2Z2t4k/giphy.gif)

Source: <https://giphy.com/>

## Turns out its naming has nothing to do with panda the animal, it refers to three primary class customed by its author [Wes McKinney](https://wesmckinney.com/)

- **Pan**el(Deprecated since version 0.20.0)
- **Da**taFrame
- **S**eries

## In order to master `pandas`, it is vital to understand the relationships between `Index`, `ndarray`, `Series`, and `DataFrame`

- An `Index` and a `ndarray` assembles a `Series`.
- A couple of `Series` that sharing the same `Index` can then form a `DataFrame`.

## `Index` from Pandas

The simplest way to create an `Index` is using `pd.Index()`.

In [4]:
prime_indices = pd.Index([2, 3, 5, 7, 11, 13, 17, 19, 23, 29])
type(prime_indices)

pandas.core.indexes.base.Index

## An `Index` is like a combination of `tuple` and `set`

In [5]:
# immutable
prime_indices = pd.Index([2, 3, 5, 7, 11, 13, 17, 19, 23, 29])
try:
    prime_indices[-1] = 31
except TypeError as e:
    print(e)

Index does not support mutable operations

In [6]:
# Index has the characteristics of a set
odd_indices = pd.Index(range(1, 30, 2))
print(prime_indices.intersection(odd_indices))         # prime_indices & odd_indices
print(prime_indices.union(odd_indices))                # prime_indices | odd_indices
print(prime_indices.symmetric_difference(odd_indices)) # prime_indices ^ odd_indices
print(prime_indices.difference(odd_indices))
print(odd_indices.difference(prime_indices))

Index([3, 5, 7, 11, 13, 17, 19, 23, 29], dtype='int64')
Index([1, 2, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29], dtype='int64')
Index([1, 2, 9, 15, 21, 25, 27], dtype='int64')
Index([2], dtype='int64')
Index([1, 9, 15, 21, 25, 27], dtype='int64')

## `Series` from Pandas

The simplest way to create a `Series` is using `pd.Series()`.

In [7]:
prime_series = pd.Series([2, 3, 5, 7, 11, 13, 17, 19, 23, 29])
print(type(prime_series))
print(prime_series)

<class 'pandas.core.series.Series'>
0     2
1     3
2     5
3     7
4    11
5    13
6    17
7    19
8    23
9    29
dtype: int64

## A `Series` is a combination of `Index` and `ndarray`

In [8]:
print(type(prime_series.index))
print(type(prime_series.values))

<class 'pandas.core.indexes.range.RangeIndex'>
<class 'numpy.ndarray'>

## The index of a `Series` can be customized

In [9]:
prime_series = pd.Series([2, 3, 5, 7, 11, 13, 17, 19, 23, 29],
                        index=range(1, 11))
prime_series

1      2
2      3
3      5
4      7
5     11
6     13
7     17
8     19
9     23
10    29
dtype: int64

In [10]:
prime_series = pd.Series([2, 3, 5, 7, 11, 13, 17, 19, 23, 29])
prime_series.index = range(1, 11)
prime_series

1      2
2      3
3      5
4      7
5     11
6     13
7     17
8     19
9     23
10    29
dtype: int64

## Indexing a `Series`

Indexing via index positions or index labels.

In [11]:
prime_series = pd.Series([2, 3, 5, 7, 11],
                        index=["1st", "2nd", "3rd", "4th", "5th"])
print(prime_series[-1])
print(prime_series["5th"])

11
11

## Slicing a `Series`

Slicing via index positions excludes `stop`, while slicing via index labels includes `stop`.

In [12]:
print(prime_series[:2])
print(prime_series["1st":"3rd"])

1st    2
2nd    3
dtype: int64
1st    2
2nd    3
3rd    5
dtype: int64

## A `Series` contains a `ndarray` therefore they can be manipulated in the same way 

- Vectorization and broadcasting.
- Fancy indexing.
- Boolean indexing.

In [13]:
# Vectorization and broadcasting
prime_series**2

1st      4
2nd      9
3rd     25
4th     49
5th    121
dtype: int64

In [14]:
# Fancy indexing
print(prime_series[[0, 1, 4]])
print(prime_series[["1st", "2nd", "5th"]])

1st     2
2nd     3
5th    11
dtype: int64
1st     2
2nd     3
5th    11
dtype: int64

In [15]:
# Boolean indexing
prime_series[prime_series % 2 == 1]

2nd     3
3rd     5
4th     7
5th    11
dtype: int64

## `DataFrame` from Pandas

The simplest way to create a `DataFrame` is using `pd.DataFrame()`.

In [16]:
# column-wise
movie_df = pd.DataFrame()
movie_df["title"] = ["The Shawshank Redemption", "The Dark Knight", "Schindler's List", "Forrest Gump", "Inception"]
movie_df["imdb_rating"] = [9.3, 9.0, 8.9, 8.8, 8.7]
type(movie_df)

pandas.core.frame.DataFrame

In [17]:
movie_df

                      title  imdb_rating
0  The Shawshank Redemption          9.3
1           The Dark Knight          9.0
2          Schindler's List          8.9
3              Forrest Gump          8.8
4                 Inception          8.7

## `DataFrame` from Pandas

Creating a `DataFrame` with a `dict`.

In [18]:
# column-wise
movie_dict = {
    "title": ["The Shawshank Redemption", "The Dark Knight", "Schindler's List", "Forrest Gump", "Inception"],
    "imdb_rating": [9.3, 9.0, 8.9, 8.8, 8.7]
}
movie_df = pd.DataFrame(movie_dict)
type(movie_df)

pandas.core.frame.DataFrame

In [19]:
movie_df

                      title  imdb_rating
0  The Shawshank Redemption          9.3
1           The Dark Knight          9.0
2          Schindler's List          8.9
3              Forrest Gump          8.8
4                 Inception          8.7

## `DataFrame` from Pandas

Creating a `DataFrame` with a `list` of dictionaries.

In [20]:
# row-wise
movie_list = [
    {"title": "The Shawshank Redemption", "imdb_rating": 9.3},
    {"title": "The Dark Knight", "imdb_rating": 9.0},
    {"title": "Schindler's List", "imdb_rating": 8.9},
    {"title": "Forrest Gump", "imdb_rating": 8.8},
    {"title": "Inception", "imdb_rating": 8.7}
]
movie_df = pd.DataFrame(movie_list)
type(movie_df)

pandas.core.frame.DataFrame

In [21]:
movie_df

                      title  imdb_rating
0  The Shawshank Redemption          9.3
1           The Dark Knight          9.0
2          Schindler's List          8.9
3              Forrest Gump          8.8
4                 Inception          8.7

## A `DataFrame` is a combination of multiple `Series` sharing the same `Index`

In [22]:
print(type(movie_df.index))
print(type(movie_df["title"]))
print(type(movie_df["imdb_rating"]))

<class 'pandas.core.indexes.range.RangeIndex'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

## Review of the definition of modern data science

> Modern data science is a huge field, it invovles applications and tools like importing, tidying, transformation, visualization, modeling, and communication. Surrounding all these is programming.

![Imgur](https://i.imgur.com/din6Ig6.png)

Source: [R for Data Science](https://r4ds.had.co.nz/)

## Key functionalities analysts rely on `pandas` are

- Importing
- Tidying
- Transforming

## Tidying and transforming together is also known as WRANGLING

![](https://media.giphy.com/media/MnlZWRFHR4xruE4N2Z/giphy.gif)

Source: <https://giphy.com>

## Importing

## `pandas` has massive functions importing tabular data

- Flat text file
- Database table
- Spreadsheet
- JSON
- HTML `<table></table>` tags
- ...etc.

Source: <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>

## Using `read_csv` function for flat text files

```python
csv_file_path = "PATH/TO/YOUR/CSVs/FILE"
pd.read_csv(csv_file_path)
```

In [23]:
file_name = "imdb_top_rated_movies.csv"
file_url = f"https://raw.githubusercontent.com/datainpoint/classroom-programming-design-2024/main/data/{file_name}"
r = requests.get(file_url)
with open(file_name , 'wb') as f:
    f.write(r.content)
csv_file_path = "imdb_top_rated_movies.csv"
movies = pd.read_csv(csv_file_path)
print(type(movies))
print(movies.shape)

<class 'pandas.core.frame.DataFrame'>
(250, 4)

## Using `read_sql` function for database tables

```python
import sqlite3

conn = sqlite3.connect('YOUR_DATABASE.db')
sql_query = """
SELECT * 
  FROM YOUR_TABLE
 LIMIT 10;
"""
pd.read_sql(sql_query, conn)
```

## Using `read_excel` function for spreadsheets

```python
excel_file_path = "PATH/TO/YOUR/EXCEL/FILE"
pd.read_excel(excel_file_path)
```

## Using `read_json` function for JSON

```python
json_file_path = "PATH/TO/YOUR/JSON/FILE"
pd.read_json(json_file_path)
```

## Using `read_html` function for HTML `<table></table>` tags

> The `<table>` tag defines an HTML table. An HTML table consists of one `<table>` element and one or more `<tr>`, `<th>`, and `<td>` elements. The `<tr>` element defines a table row, the `<th>` element defines a table header, and the `<td>` element defines a table cell.

Source: <https://www.w3schools.com/default.asp>

## Basic attributes and methods

## Basic attributes of a `DataFrame` object

- `shape`
- `dtypes`
- `index`
- `columns`

In [24]:
print(movies.shape)
print(movies.dtypes)
print(movies.index)
print(movies.columns)

(250, 4)
rank        int64
title      object
year        int64
rating    float64
dtype: object
RangeIndex(start=0, stop=250, step=1)
Index(['rank', 'title', 'year', 'rating'], dtype='object')

## Basic methods of a `DataFrame` object

- `head(n)`
- `tail(n)`
- `describe()`
- `info()`
- `set_index()`
- `reset_index()`

## `head(n)` returns the top n observations with header

In [25]:
movies.head() # n is default to 5

   rank                     title  year  rating
0     1  The Shawshank Redemption  1994     9.2
1     2             The Godfather  1972     9.1
2     3    The Godfather: Part II  1974     9.0
3     4           The Dark Knight  2008     9.0
4     5              12 Angry Men  1957     8.9

## `tail(n)` returns the bottom n observations with header

In [26]:
movies.tail(3)

     rank              title  year  rating
247   248  Nights of Cabiria  1957     8.0
248   249             Rififi  1955     8.0
249   250         Raatchasan  2018     8.0

## `describe()` returns the descriptive summary for numeric columns

In [27]:
movies.describe()

             rank         year      rating
count  250.000000   250.000000  250.000000
mean   125.500000  1986.724000    8.258800
std     72.312977    24.846028    0.226601
min      1.000000  1921.000000    8.000000
25%     63.250000  1967.250000    8.100000
50%    125.500000  1994.000000    8.200000
75%    187.750000  2006.750000    8.400000
max    250.000000  2021.000000    9.200000

## `info()` returns the concise information of the dataframe

In [28]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   rank    250 non-null    int64
 1   title   246 non-null    object
 2   year    250 non-null    int64
 3   rating  250 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 7.9+ KB

## `set_index()` replaces current `Index` with a specific variable

In [29]:
movies.set_index("rank")

                          title  year  rating
rank
1      The Shawshank Redemption  1994     9.2
2                 The Godfather  1972     9.1
3        The Godfather: Part II  1974     9.0
4               The Dark Knight  2008     9.0
5                  12 Angry Men  1957     8.9
...                         ...   ...     ...
246   Demon Slayer: Mugen Train  2020     8.0
247          The Princess Bride  1987     8.0
248           Nights of Cabiria  1957     8.0
249                      Rififi  1955     8.0
250                  Raatchasan  2018     8.0

[250 rows x 3 columns]

## `reset_index()` resets current `Index` with default `RangeIndex`

In [30]:
movies.set_index("rank").reset_index()

     rank                      title  year  rating
0       1   The Shawshank Redemption  1994     9.2
1       2              The Godfather  1972     9.1
2       3     The Godfather: Part II  1974     9.0
3       4            The Dark Knight  2008     9.0
4       5               12 Angry Men  1957     8.9
..    ...                        ...   ...     ...
245   246  Demon Slayer: Mugen Train  2020     8.0
246   247         The Princess Bride  1987     8.0
247   248          Nights of Cabiria  1957     8.0
248   249                     Rififi  1955     8.0
249   250                 Raatchasan  2018     8.0

[250 rows x 4 columns]

## Basic Wrangling

## Basic wrangling is like writing SQL queries

- Selecting: `SELECT FROM`
- Filtering: `WHERE`
- Subset: `SELECT FROM WHERE`

## Basic wrangling is like writing SQL queries(cont'd)

- Indexing
- Sorting: `ORDER BY`
- Deriving
- Summarizing
- Summarizing and Grouping: `GROUP BY`

## Selecting a column as `Series`

In [31]:
print(movies["title"])
print(type(movies["title"]))

0       The Shawshank Redemption
1                  The Godfather
2         The Godfather: Part II
3                The Dark Knight
4                   12 Angry Men
                 ...
245    Demon Slayer: Mugen Train
246           The Princess Bride
247            Nights of Cabiria
248                       Rififi
249                   Raatchasan
Name: title, Length: 250, dtype: object
<class 'pandas.core.series.Series'>

## Selecting a column as `DataFrame`

In [32]:
print(type(movies[["title"]]))
movies[["title"]]

<class 'pandas.core.frame.DataFrame'>

                         title
0     The Shawshank Redemption
1                The Godfather
2       The Godfather: Part II
3              The Dark Knight
4                 12 Angry Men
..                         ...
245  Demon Slayer: Mugen Train
246         The Princess Bride
247          Nights of Cabiria
248                     Rififi
249                 Raatchasan

[250 rows x 1 columns]

## Selecting multiple columns as `DataFrame`, for sure

In [33]:
movies[["title", "year"]]

                         title  year
0     The Shawshank Redemption  1994
1                The Godfather  1972
2       The Godfather: Part II  1974
3              The Dark Knight  2008
4                 12 Angry Men  1957
..                         ...   ...
245  Demon Slayer: Mugen Train  2020
246         The Princess Bride  1987
247          Nights of Cabiria  1957
248                     Rififi  1955
249                 Raatchasan  2018

[250 rows x 2 columns]

## Filtering rows with conditional statements

In [34]:
movies["rating"] >= 9
movies[movies["rating"] >= 9]

   rank                     title  year  rating
0     1  The Shawshank Redemption  1994     9.2
1     2             The Godfather  1972     9.1
2     3    The Godfather: Part II  1974     9.0
3     4           The Dark Knight  2008     9.0

## Subsetting columns and rows simultaneously

In [35]:
cols_to_select = ["title", "year"]
rows_to_filter = movies["rating"] >= 9
movies[rows_to_filter][cols_to_select]
movies[cols_to_select][rows_to_filter]

                      title  year
0  The Shawshank Redemption  1994
1             The Godfather  1972
2    The Godfather: Part II  1974
3           The Dark Knight  2008

## Indexing `DataFrame` with

- `loc[]`
- `iloc[]`

## `loc[]` is indexing `DataFrame` with row/column `Index`

In [36]:
movies.loc[:, ["title", "rating"]]
movies.loc[[0, 1], :]
movies.loc[[0, 1], ["title", "rating"]]

                      title  rating
0  The Shawshank Redemption     9.2
1             The Godfather     9.1

## `iloc[]` is indexing `DataFrame` with integer location

In [37]:
movies.iloc[:, [1, 3]]
movies.iloc[[0, 1], :]
movies.iloc[[0, 1], [1, 3]]

                      title  rating
0  The Shawshank Redemption     9.2
1             The Godfather     9.1

## Sorting `DataFrame` with

- `sort_values`
- `sort_index`

## `sort_values` sorts `DataFrame` with specific columns

In [38]:
movies.sort_values("year")
movies.sort_values(["year", "rating"], ascending=[False, True])

     rank                      title  year  rating
101   102                       Dune  2021     8.3
245   246  Demon Slayer: Mugen Train  2020     8.0
107   108                 The Father  2020     8.2
77     78                   Hamilton  2020     8.3
162   163                      Klaus  2019     8.1
..    ...                        ...   ...     ...
110   111                 Metropolis  1927     8.2
185   186                The General  1926     8.1
153   154              The Gold Rush  1925     8.1
184   185                        NaN  1924     8.1
104   105                    The Kid  1921     8.2

[250 rows x 4 columns]

## `sort_index` sorts `DataFrame` with the `Index` of `DataFrame`

In [39]:
movies.sort_index(ascending=False)

     rank                      title  year  rating
249   250                 Raatchasan  2018     8.0
248   249                     Rififi  1955     8.0
247   248          Nights of Cabiria  1957     8.0
246   247         The Princess Bride  1987     8.0
245   246  Demon Slayer: Mugen Train  2020     8.0
..    ...                        ...   ...     ...
4       5               12 Angry Men  1957     8.9
3       4            The Dark Knight  2008     9.0
2       3     The Godfather: Part II  1974     9.0
1       2              The Godfather  1972     9.1
0       1   The Shawshank Redemption  1994     9.2

[250 rows x 4 columns]

## Deriving new variables from `DataFrame`

- Simple operations
- `map` with a function

## Deriving new variable with simple operations

In [40]:
movies["year"] > 2000

0      False
1      False
2      False
3       True
4      False
       ...
245     True
246    False
247    False
248    False
249     True
Name: year, Length: 250, dtype: bool

## Deriving categorical from categorical with `map`

- Passing a function

In [41]:
# Passing a function
def year_flag(x):
    if x < 1990:
        return "Before 1990"
    elif x > 2000:
        return "After 2000"
    else:
        return "1990s"

movies["year"].map(year_flag)

0            1990s
1      Before 1990
2      Before 1990
3       After 2000
4      Before 1990
          ...
245     After 2000
246    Before 1990
247    Before 1990
248    Before 1990
249     After 2000
Name: year, Length: 250, dtype: object

## Summarizing `DataFrame` with aggregate methods

In [42]:
movies["rating"].mean()

8.258799999999999

## Summarizing and grouping `DataFrame` with aggregate methods

In [43]:
movies.groupby("year")["rating"].mean()

year
1921    8.200000
1924    8.100000
1925    8.100000
1926    8.100000
1927    8.200000
          ...
2017    8.166667
2018    8.233333
2019    8.250000
2020    8.166667
2021    8.300000
Name: rating, Length: 86, dtype: float64